@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
	line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
    padding: 15px;
    height: 100vh;
    display: grid;
    grid-template-columns: clamp(100px, 25%, 400px) 1fr;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

.projects-nav {
    border: 3px solid blue;
    height: 100%;
}

.content {
    border: 3px solid red;
    height: 100%;
    display: flex;
}

.open-project {
    border: 3px ridge purple;
    height: 100%;
    flex: 2;
}

.new-todo-banner {
    border: 3px ridge yellowgreen;
    height: 100%;
    flex: 1.2;
}