@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color1: rgb(255 239 195);
    --color2: rgb(255 206 206);
    --color3: rgb(255 184 184);
    --color4: rgb(235 241 255);
    --color5: rgb(191 226 255);

    --gradient1: rgb(121 0 0);
    --gradient2: rgb(0, 0, 0);
    --gradient3: rgb(110, 92, 9);
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
    padding: 15px;
    height: 100vh;
    display: grid;
    grid-template-columns: clamp(100px, 25%, 400px) 1fr;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
    border-radius: 7px;
    border: 1px solid;
}

button {
    cursor: pointer;
}

button:active {
    outline: 2px solid var(--gradient2);
}

.projects-nav {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--color4);
    border-radius: 10px;
    height: 100%;
}

.project:active {
    box-shadow: inset 0px 0px 3px 3px var(--color3);
}

.todo:active,
.open-todo:active {
    box-shadow: inset 0px 0px 3px 3px var(--color5);
}

.content {
    height: 100%;
    display: flex;
}

.open-project {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px var(--color3);
    height: 100%;
    flex: 2;
    font-size: 1.1rem;
}

.new-todo-banner {
    margin-left: 10px;
    background-color: var(--color1);
    height: 100%;
    flex: 1.2;
}

.add-project-btn,
.project,
.add-todo-btn,
.todo {
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.confirm-task-btn {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

form > div:last-of-type {
    text-align: center;
}

.add-project-btn,
.project {
    background-color: var(--color5);
}

.add-todo-btn,
.todo,
.open-todo {
    background-color: var(--color2);
}

.add-project-btn,
.add-todo-btn {
    font-weight: bold;
}

.todo, .open-pair {
    display: flex;
    justify-content: space-between;
}

.todo > p {
    margin: 0;
}

.open-todo {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.open-todo > * {
    margin-bottom: 15px;
}

.open-title {
    font-weight: bold;
}

p {
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.open-description {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.open-priority {
    display: flex;
}

.open-priority > :first-child,
.open-completion > :first-child {
    margin-right: 6px;
}

.open-completion {
    display: flex;
    align-items: center;
}

.toggle-btn,
.delete-task-btn,
.edit-task-btn {
    border: none;
    background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
    color: white;
}

.confirm-task-btn {
    border: none;
    background: linear-gradient(45deg, var(--gradient3), var(--gradient2));
    color: white;
}

.delete-task-btn {
    margin:0;
    padding: 2px 7px;
}

.new-todo-banner {
    padding: 10px;
    border-radius: 10px;
}

form > * {
    margin-bottom: 10px;
}

textarea ,
input,
select {
    width: 100%;
    padding: 2px 5px;
}


